<!DOCTYPE html>

<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/static/style.css">
        <link href="https://fonts.cdnfonts.com/css/montserrat" rel="stylesheet">
        <link rel="icon" href="/static/Photo/Eliteporfume.ico">
        <title>Elitepefrume Atyrau</title>
    </head>

    <body>
        <header>
            <a href="https://youtube.com">
                <h2><img src="/static/Photo/Logo.png">
                Elitepefrume Atyrau</h2>
            </a>
        </header>
        <div class="navbar">
            <ul>
                <li><a href="{{ url_for('admin_page') }}">Мужская парфюмерия</a></li>
                <li><a href="{{ url_for('women_perf') }}">Женская парфюмерия</a></li>
                <li><a href="{{ url_for('women_perf') }}">Ароматизированные свечи</a></li>
                <li><a href="{{ url_for('women_perf') }}">Парфюмированные диффузоры</a></li>
                <li><a href="{{ url_for('women_perf') }}">Диффузоры Ареон</a></li>
            </ul>
        </div>
        <div class="gender">
            <div class="male">
                <img src="/static/Photo/male.png">
                <h3>Мужская парфюмерия</h3>
            </div>
            <div class="female">
                <img src="/static/Photo/image female.png">
                <h3>Женская парфюмерия</h3>
            </div>
        </div>
        <div class="ender">
            <h2>О компании</h2>
            <h2>Адрес магазина</h2>
            <div class="contacts">
                <h2>Контакты</h2>
                <img src="/static/Photo/bxl-whatsapp.svg">
                <img src="/static/Photo/bxl-instagram.svg"> 
            </div>
        </div>
    </body>
</html>